# ABN Lookup Skill Environment Variables

# ABN Web Services Authentication GUID
# Get this from: https://abr.business.gov.au/Webservices/AccountManagement/AccountLogin.aspx
# Free registration required
ABN_LOOKUP_GUID=your_abn_lookup_guid_here